{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2 class="text-center">TOM Toolkit Demonstration TOM</h2>
    <p class="text-center"><img src="{% static 'tom_common/img/logo-color.png' %}" class="img-fluid mx-auto"></p>
    <p>The code for this demonstration TOM is in the <a href="https://github.com/LCOGT/tom-demo" title="TOM Demo GitHub repository">TOM Demo Github repository</a>.</p>
    <p>Check out the <a href="https://tom-toolkit.readthedocs.io/en/stable/" title="TOM Toolkit home page" target="_blank">TOM
        Toolkit homepage</a> for the latest news, downloads and documentation.</p>
    <hr>
    <h3>Login as <em>guest</em> to access additional features:</h3>
    <p><strong>Username:</strong> guest</p>
    <p><strong>Password:</strong> guest</p>
    <hr>
    <p><em><a target="_blank" href="https://github.com/TOMToolkit/tom_base">TOM Toolkit</a> version {{ version }}</em></p>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Latest Comments
      </div>
      {% recent_comments %}
    </div>
    <br/>
    <div class="card">
      <div class="card-header">
        Latest Targets
      </div>
      {% recent_targets %}
  </div>
</div>
{% endblock %}