{% extends 'tom_common/base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}


{% block content %}

    <h3>First Vue Health Check App</h3>

    <hr>
    <p>This section demonstrates sharing state between two Vue components. In this case, a single count value
        is shared between two instances of a simple counter Vue component.
    </p>
    {% with msg0="The Left Counter" msg1="The Right Counter" %}
      <div id="simple_counter_a" style="width: 49%; display: inline-block">
        <simple-counter msg="{{ msg0 }}"></simple-counter>
      </div>

      <div id="simple_counter_b" style="width: 49%; display: inline-block">
        <simple-counter msg="{{ msg1 }}"></simple-counter>
      </div>

    {% endwith %}

    <hr>

    <div>
        <p>trying to post static image</p>
        <img src="{% static 'vue/img/logo.png' %}" />
    </div>

    <hr>

    <div id="app">
        <app></app>
    
    </div>
    <hr>

    {% render_bundle 'vue_health_check_01' config='TOM_DEMO' %}

{% endblock %}