django-cors-headers>=3.7
django_plotly_dash
factory_boy==2.12.0
gunicorn[gevent]==20.0.4
psycopg2-binary
tom-nonlocalizedevents>=0.5
# uncomment the following line for local development
#-e /home/llindstrom/dev/tom_nonlocalizedevents
django-webpack-loader==0.6.0
tomtoolkit==2.10.3
#-e /home/llindstrom/dev/tom_base
tom_scimma
whitenoise~=5.2
